* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Raleway', sans-serif;
}

html, body {

	scroll-behavior: smooth;

}

.nav-items {
	display: inline-block;
}
/*Landing*/
#jumbo-landing {
	height: 100vh;
	padding-top: 10%;
	background:
	linear-gradient(

		rgba(77, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/2884/building-vintage-bike-monument.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)	
	;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	border-radius: 0;
}

.jumbotron h1 {

	color: #f2f2f2;

}

.jumbotron hr {

	background-color: #fff;

}

.btn a {

	text-decoration: none;
	color: #fff;

}


/*about*/
/*about page*/
#jumbotron-about {

	background:

	linear-gradient(
		rgba(77, 31, 0, 0.75),
		rgba(0,0,0, 0.75)		
		),

	url(https://images.pexels.com/photos/92866/pexels-photo-92866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;

}

#landing-about {

	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Balsamiq Sans', cursive;
}

#mission {

	height: 50%;
	background-color: #333;
	color: #fff;

}

#vision {

	height: 50%;
	background-color: #fff;
	color: #333;


}

.about-tags {

	font-weight: bold;

}





/*end about*/

/*gallery page*/
#gallery-landing {
	background:

	linear-gradient(
		rgba(77, 31, 0, 0.75),
		rgba(0,0,0, 0.75)		
		),

	url(https://images.pexels.com/photos/594388/vinyl-record-player-retro-594388.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;
	font-family: 'Raleway', sans-serif;
}
/*landing heading*/
#landing-gallery {

	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
}

/*make the carousel and its images have the same height*/
#carousel-home {
	height: 50vh; /*occupies 50% of the height of the screen/viewport */
}

#carousel-home img {
	height: 50vh; /*occupies 50% of the height of the screen/viewport */
}

/*end gallery page*/




/*contact*/

#jumbotron-contact {

	background:

	linear-gradient(
		rgba(77, 31, 0, 0.75),
		rgba(0,0,0, 0.75)		
		),

	url(https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;

}

#landing-contact {

	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Balsamiq Sans', cursive;
}


#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
}
/*end contact*/







